@charset "utf-8";
/* CSS Document */
.stable {
	border-collapse:collapse;
	border-top: 1px solid #D2D0D1;
	border-left: 1px solid #D2D0D1;
	margin-bottom:10px;
}

.stable th {
	line-height: 18px;
	font-weight: bold;
	padding:4px 4px;
	border-bottom: 1px solid #CBC8C8;
	border-right: 1px solid #CBC8C8;
	background: #E8E8E8 url(../images/th_bg.jpg) repeat-x left top;
	color:#666666;
	text-align:center;
	white-space:nowrap;	
}
.stable td {
	line-height: 18px;
	padding:3px 5px;
	border-bottom: 1px solid #D2D0D1;
	border-right: 1px solid #D2D0D1;
	text-align: center;
	color:#666666;
	text-align:left;
	white-space:nowrap;
}

.stable .td_left{
	text-align:left; padding-left:10px;
}
.stable .td_right{
	text-align:right; 
}
.stable .td_center{
	text-align:center; 
}
.stable a{ padding:0 3px}
/***********新增进度条样式**************/
.box_select {
	width:279px;
	height: 31px;
	padding:1px 7px 0px 3px;
	position:relative;
	/*left:20%;
	margin-left:-50px;*/
	background: url(../images/conference/look.gif) no-repeat 0px top; 
}

.xstooltip {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	font: normal 8pt sans-serif;
	padding: 3px;
	border: solid 1px;
	background-color: #FFFFFF;
}
.progress_title{ text-align:center;font-size:18px; color:#333333;line-height:60px;font-weight:bold;font-family:"宋体";}

.titlebox .location{ 	
	font-size:12px; 
	font-weight:normal; 
	color:#666; 	
}

.titlebox{
	line-height:24px;
	overflow:hidden;
	border-bottom:2px solid #ccc;
	margin-bottom:6px;
	padding-left:20px;
	background:url(../html/images/ico_location.gif) no-repeat  left center; 
}
/***********浮动层样式**************/
#over{ 
	position: fixed; 
	display: none;  
	cursor: default; 
	width: 340px; 
	z-index: 10; 
	opacity: 1; 
	left:5px;
	bottom:0px;
	_bottom:auto;
    _width: 100%;
    _position: absolute;
    _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
} 
#title{ 
	border: 1px solid #1840C4; 
	background: #95B4DC; 
	padding: 2px; 
	font-size:12px; 
	cursor: default; 
} 
#close{ 
	cursor: pointer; 
	margin-right: 1px; 
	overflow: hidden; 
} 
#contents{ 
	border-right: 1px solid #1840C4; 
	border-left: 1px solid #1840C4;
	border-bottom: 1px solid #1840C4;
	background: #EFF4D7; 
} 
#t{ 
  margin-right:255px; 
} 
body{ 
	padding: 0px; 
	margin: 0px; 
} 
#over{ 
	background: transparent; 
} 
