
.ddsmoothmenu  {
	background-color:#106ade;
	height:38px;
	
}
.ddsmoothmenu ul {
	z-index:100;
	list-style-type: none;
	
}
/*Top level list items*/
.ddsmoothmenu ul li {
	float: left;
	line-height:38px;
	font-size:15px;
	font-weight:bold;
	
	
}
.ddsmoothmenu ul li li{
	margin:0;
	position:relative;
	float:none;
	padding:0;
	border:1px solid #c3c3c3;
	border-top:none;
	display:block;
	height:32px;
	line-height:32px;
	*display:block;
	*zoom:1;
	*margin-top:-4px;
	
	
	
}
.ddsmoothmenu ul li li li{
	margin:0;
	line-height:23px;
}
/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display:block;
	width:122px;
	padding: 0;
	text-align:center;
	text-decoration:none;
	color:#fff;
}
.ddsmoothmenu ul li li a{
	background-color:#fff;
	line-height:32px;
	height:32px;
	color:#333;
	font-weight:400;
	
	
}

.ddsmoothmenu ul li li a {
	background: url(../images/dot1.gif) 10px center no-repeat;
}
.ddsmoothmenu ul li li a:hover {
	background-color:#fff;
}
.ddsmoothmenu ul ul ul {
	border-top:1px solid #c3c3c3;
	
	
}
.ddsmoothmenu ul ul ul li{
	}
* html .ddsmoothmenu ul li a { /*IE6 hack to get sub menu links to behave correctly*/
	display: block;
}
/*
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}*/
.ddsmoothmenu ul li a:hover {
	font-weight: bold;
	color: #fff;
	background-color:#0a4591;;
}
.ddsmoothmenu ul li li a:hover {
	color: #106ade;
	font-weight:bold;
	background:#d9eafd;
	
}

.ddsmoothmenu ul li li a.subtitle {display: block;}

.ddsmoothmenu ul li a.select,.ddsmoothmenu ul li a.select:visited { 
/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	font-weight: bold;
	color: #fff;
	background:#0a4591 url(../images/dot1.png) 90% center no-repeat;
}
.ddsmoothmenu ul li a.fcurrent {font-weight: bold;color: #fff;background:#0a4591 url(../images/dot1.png) 90% center no-repeat;}
.ddsmoothmenu ul li a.selected,.ddsmoothmenu ul li a.selected:visited { 
/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	font-weight: bold;
	color: #fff;
	background:#0a4591 url(../images/dot1.png) 90% center no-repeat;
}
.ddsmoothmenu ul li li a.selected,.ddsmoothmenu ul li li a.selected:visited { 
/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: white;
	font-weight:normal;
	background:#71A3E4 url(../images/dot1.png) 6px center no-repeat;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	margin-top:0px;
	*margin-top:4px;_margin-top:4px;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li {
	/*display: list-item;position:relative;*/
	float: none;
	
	
	
	
	
	
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {
	top: 0;
	margin-top:0px;
}
/* Sub level menu links style */
.ddsmoothmenu ul li li a {
	width: 125px; /*width of sub menus*/
	padding: 0;
	margin: 0;
	text-align:left;
	padding-left:15px;
	padding-right:8px;
	background:#fff;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu {
	height: 1%;
}

.rightarrowclass {
	position: absolute;
	top: 12px;
	right: 6px;
}
.ddshadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}




