@charset "utf-8";
/* CSS Document */
@import url("../../../sanymbp/common/css/base.css");

@import url("../../common/css/base.css");

.h1_1 {
	background-color: #2B2B2B;
	text-align: left;
	line-height: 26px;
	font-size: 26px;
	font-weight: bold;
	font-family: "黑体";
	margin: 0px 0px;
	color: #fff;
	margin: 0px 0px;
}

.h1_1 .div1 {
	padding: 12px 0px 0px 26px;
}

.h1_1 .a_home {
	width: 40px;
	height: 41px;
	text-align: center;
	display: block;
	float: right;
	background: url("../../../sanymbp/common/images/home.jpg") top left
		no-repeat;
}

.backSelect {
	display: none;
}

span.span1 {
	float: left;
}

div.div1 {
	padding: 5px;
}

div.div2 {
	height: 51px;
}

div.div3 {
	line-height: 24px;
	font-size: 16px;
	font-family: "黑体";
}

div.div3 dl,div.div3 dl dt,div.div3 dl dd {
	margin: 0px;
	padding: 0px;
	text-shadow: none;
	font-family: "黑体";
}

div.div3 dl dt {
	font-size: 20px;
	font-weight: bold;
	padding: 3px 0px 3px 0px;
	clear: both;
}

div.div3 dl dd {
	padding: 3px 0px 3px 0px;
	clear: both;
}