body,td,th {
	font:12px/18px Arial, Helvetica, sans-serif;padding:0px;margin:0px;
}
.index_contain {
	margin:0px 10px 10px 10px;
}
.index_contain .side_bar {
	float: right;
	width: 245px;
	margin:0px;
}
.index_contain .side_bar .title_right {
	border-bottom: 2px solid  #CCCCCC;
}
.index_contain .side_bar .links {
	width: 243px;
}

.index_contain .side_bar .links ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px 3px 0px 0px;
}
.index_contain .side_bar .links li {
	width: 80px;
	margin: 5px 0px;
	padding: 0px;
	float: left;
	text-align: center;
	line-height: 25px;
}
.index_contain .side_bar .links a:link,.index_contain .side_bar .links a:visited {
	color: #333333;
}
.index_contain .side_bar .links a:hover{
	color: #0066CC;
}
.index_contain .side_bar .link_ad {
	margin: 0px;
	padding: 0px;
}
.index_contain .side_bar .link_ad ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.index_contain .side_bar .link_ad li {
	margin: 3px;
	padding: 0px;
}







.index_contain .main_contain {
	margin-right: 245px;
}
.index_contain .main_contain .half {
	float: left;
	width: 50%; 
}
.index_contain .main_contain .box_1 {
	margin-right: 10px;
	margin-top: 10px;
}

.index_contain .main_contain .box_1 .box_content {
	padding: 8px 8px 0px 8px;
	border-left:1px solid #ccc;border-right:1px solid #ccc;
	margin-right:0px;
	*margin-right:0px;
	_margin-right:3px;
}
.index_contain .main_contain .box_1 .box_content .content_box {
	height: 205px;
}

.index_contain .main_contain .box_1 .box_content .left_ad {
	float: left;
	width: 300px;
	border: 1px solid #CCCCCC;padding:1px;
}
.index_contain .main_contain .box_1 .box_content .content_box .left_ad .num_ad ul{
	list-style:none;
	margin:0px;
	padding:0px;
	float: right;
	width: 120px;
}
.index_contain .main_contain .box_1 .box_content .content_box .left_ad .num_ad {
	height: 20px;
	border-top: 1px solid #CCCCCC;
	background:#BFDBFF url(../images/ad_bg.jpg) repeat-x left top;
}

.index_contain .main_contain .box_1 .box_content .content_box .left_ad .num_ad li {
	float: left;
	width: 16px;
	margin:2px;
	padding:0px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 14px;
	color: #000000;
	border: 1px solid #CCCCCC;
}
.index_contain .main_contain .box_1 .box_content .content_box .left_ad .num_ad .selected {
	background-color: #2072DE;
	padding: 1px 5px;
	color: #FFFFFF;
	line-height: 12px;
}


.index_contain .main_contain .box_1 .box_content .news_list {
	line-height: 18px;
	margin-left: 310px;
}
.index_contain .main_contain .box_1 .box_content .news_list ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.index_contain .main_contain .box_1 .box_content .news_list li {
	padding: 5px 0px 5px 8px;
	margin: 0px;
	background: url(../images/dot.jpg) no-repeat left 12px;
}
.news_list a:link,.news_list a:visited{
	color: #313131;
}
.news_list a:hover{ color:#0066CC; text-decoration:underline;}
.index_contain .main_contain .box_1 .box_content .news_list .date {
	float: right;
	width: 70px;
	color: #707070;
}



.index_contain .main_contain .half .box_1 .box_content {
	margin: 0px;
	height: 180px;
}
.index_contain .main_contain .half .content_box2 {
	margin-left: 5px;
}


.index_contain .main_contain .box_1 .content_top {
	height: 31px;
	background: url(../images/top_bg.jpg) repeat-x left top;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.index_contain .main_contain .box_1 .right_top {
	float: right;
	width: 6px;
	height: 31px;
	background: #CC0000 url(../images/right_top.jpg)  no-repeat right top;
}
.index_contain .main_contain .box_1 .left_top {
	background: url(../images/left_top.jpg)  no-repeat left top;
	float: left;
	width: 6px;
	height: 31px;
	margin-right: 3px;
}

.index_contain .main_contain .box_1 .content_bottom {
	height: 14px;
	background-image: url(../images/bottom_bg.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	*background-position: left bottom;
	_background-position: left 13px;
}

.index_contain .main_contain  .box_1 .right_bottom {
	background:#fff url(../images/bottom_right.jpg)  no-repeat right bottom;
	float: right;
	width: 14px;
	height: 14px;
}
.index_contain .main_contain  .box_1 .right_bottom2 {
	background:#fff url(../images/bottom_right.jpg)  no-repeat;
	background-position:right bottom;
	*background-position:right bottom;
	_background-position:-4px bottom;
	float: right;
	width: 14px;
	height: 14px;
}
.index_contain .main_contain .half .box_1 .right_bottom{background-position:right bottom;
*background-position:right bottom;
_background-position:-2px bottom;}
.index_contain .main_contain .box_1 .left_bottom {
	background: url(../images/bottom_left.jpg)  no-repeat left bottom;
	float: left;
	width: 14px;
	height: 14px;
}
.index_contain .main_contain .half .box_1 .left_bottom{background-position:left bottom;
*background-position:left bottom;
_background-position:2px bottom;
}


.index_contain .main_contain .box_1 .content_bottom .left_bottom2 {
	float: left;
	width: 111px;
	height:14px;
	background:url(../images/bottom_left2.jpg) no-repeat left bottom;}

.index_contain .main_contain .box_1 .content_top .Pending {
	font-weight: normal;
	padding-left: 5px;
}
.index_contain .main_contain .box_1 .content_top .Pending .pending_num {
	font-weight: bold;
	color: #D0131A;
	padding: 6px;
}
 .content_top .more_info {
	float: right;
	width: 60px;
	padding-top: 9px;
	padding-bottom: 5px;
}


.tabs {
	padding: 0px;
}



.indentmenu{
	width: 110px; float:left;
}
 .num {
	padding: 0px 0px 0px 3px;
}



.indentmenu ul{
	width: 110px;
	height: 200px;
	list-style-type: none;
	margin:0px;
	padding:0px;
	padding-top: 10px;
	background:#f4f3f4 url(../images/tab_line.jpg) repeat-y right top;
}

.indentmenu ul li{
    padding:0px;
	text-align: right;
	float: left;
	line-height:20px;
	width: 102px;
}

.indentmenu ul li a{
	color: black; 
	text-decoration: none;
	display: block;
	width: 100px;
	padding: 3px 7px 3px 3px;
	float: left;
}

.indentmenu ul li a:visited{
color: black;
}

.indentmenu ul li a.selected{
color: #0066CC!important;
font-weight:bold;
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
background-color:#FFFFFF;
}
#petsdivcontainer {
	height: 200px;
	margin-left: 110px;padding:10px 10px 0px 10px 
}



.indentmenu2 ul{
	background-color:#f4f3f4;
	list-style-type: none;
	margin:0px;
	padding:0px;
}

.indentmenu2 ul li{
    padding:0px;
	margin:5px 0px 0px 0px;
	text-align: center;
	float: left;
	line-height:26px;
	width: 74px;
}

.indentmenu2 ul li a{
	color:#000000;
	text-decoration: none;
	display: block;
	float: left;
	width: 74px;
}

.indentmenu2 ul li a:visited{
color: black;
}

.indentmenu2 ul li a.selected{
	color: #3482e3 !important;
	font-weight:bold;
	background:#FFFFFF url(../images/tab_select.jpg) no-repeat left top;
}


