@charset "utf-8";
/* CSS Document */
body{font-family:"microsoft yahei";margin:0px auto;font-size:16px;background:url(../images/bg.jpg) fixed repeat-x;}
ul,li{list-style:none;padding:0px;margin:0px;}

/***************列表*******************/
.project{background-color:#e6e6e6;height:95px;margin:7px 0px 3px 0px;clear:both;}
.project ul li{float:left;display:block}
.project ul li img{border:none;margin:0px;padding:0px;}
.project ul li:nth-child(2){width:70%;margin-left:4.27%;font:2.25em/95px "microsoft yahei";color:#383838;}
.project ul li span{margin-left:4.27%;margin-right:1.27%;color:#ff0000;} 
.project ul li:last-child{float:right;margin-right:4.27%; line-height:95px;}
.project ul li:last-child img{vertical-align:middle}


.project_content .list{width:100%;padding:5px 0px;clear:both;border-bottom:1px solid #bfbfbf;min-height:48px;height:auto; display:inline-block;}
.project_content .list:first-child{margin-top:0px;}
.project_content div .li1,.project_content div .li2,.project_content div .li3,.project_content div .li8{width:40%;font-size:0.875em; text-align:left;line-height:24px;word-wrap:break-word;word-break:break-all; float:left;color:#656565}
.project_content div .li2{width:30%}
.project_content div .li3{width:30%; float:right; text-align:right}
.project_content div .li4,.project_content div .li5,.project_content div .li6,.project_content div .li7{float:left;font-size:0.875em; color:#000;line-height:24px;}
.project_content div .li8{width:100%;}
.project_content div .li5,.project_content div .li6,.project_content div .li7{width:33.3%}

.c_g{color:#656565}
#leftpanel2{background-color:#505050; height:100%;}
#leftpanel2 img{width:36px;marx-width:100%;}
#leftpanel2 ul li{padding:8px 0px;}
#leftpanel2 ul li:hover{background-color:#404040;}

/***************审批内容*******************/
.s_p_title{
	border-bottom:1px solid #0b6aff;
	height:34px;
	padding-left:1px;
	position:fixed;
	top:0px;
	left:0px;
	width:100%; 
	background-color:#fff;
	z-index:100
	/*margin-top:34px;*/
}
.s_p_title ul li{float:left;width:33.3%}
.s_p_title a
{
	width:100%;
	border:1px solid #c3c3c3;
	border-bottom:none;
	border-top:none;
	display:block; 
	text-align:center;
	line-height:34px;
	margin-left:-1px;
	font-size:0.9375em; 
	color:#4f4f4f; 
	text-decoration:none;
	text-shadow:0px 1px 0px rgba(255,255,255,0.7)
}
.s_p_title a.current{
	background-color:#0b6aff;
	font-weight:bold;
	color:#fff;
	border:1px solid #c3c3c3;
	border-bottom:none;
	border-top:none; 
	z-index:10; 
	position:relative;
	left:0px; 
	top:0px;
	line-height:34px;
	text-shadow:0px 1px 0px rgba(0,0,0,0.3)
}
.s_p_content{padding:0 3.125%;}
.s_p_content1{padding:0 3.125%;}
.s_p_content .c_title{
	line-height:24px;
	font-size:0.875em;
	padding-top:7px;
	
	border-bottom:1px solid #067be1;
	color:#005bc9;
}
.s_p_content .c_content{padding:6px 0px 4px 0px; clear:both;color:#000; display:inline-block;width:100%;}
.s_p_content .c_content div.w50
{
	width:50%;
	float:left;
	font-size:0.875em;
	line-height:27px;
	
}
.s_p_content .c_content div.w100{width:100%;display:block;clear:both;font-size:0.875em;line-height:27px;}
.s_title{width:42px;float:left;text-align:left;font-size:1em;}
.s_title1{width:74px;float:left;text-align:left;font-size:1em;}
.s_c_content{margin-left:42px;word-wrap:break-word;word-break:break-all;}
.s_c_content1{margin-left:74px;word-wrap:break-word;word-break:break-all;}
.c_p_title{width:100px;float:left;text-align:right;line-height:70px;}
.c_p_content{margin-left:100px;}
.mt_30{margin-top:30px;}
.mt_10{margin-top:10px;}
.c{padding:0px 0px 30px 0px}
.navbar .select{background-color:#0b6aff}
.s_module{display:block-table;clear:both;width:100%;}
.ui-radio{ font-size:0.875em;}
input[type="radio"]{font-family:"microsoft yahei";line-height:43px;}
.ui-btn{font-family:"microsoft yahei";line-height:20px;}
div[data-role="navbar"] ul li a{font-family:"microsoft yahei";line-height:10px;}
.tablea{width:100%;margin-top:10px;}
.tablea th{text-align:left;color:#5b5b5b;font-weight:100}
.tablea td{text-align:left}
.textarea1{height:160px;width:100%;}

.tableb{width:100%;}
.tableb td{text-align:left;padding:6px 0px;line-height:16px;font-size:14px;color:#000}
.tableb td:last-child{float:right}
.table_list{width:100%;padding-bottom:20px;}
.table_list th{height:36px;border-bottom:1px solid #c8c8c8;background-color:#ececec;line-height:36px;padding:0px 10px; text-align:left; vertical-align:top}
.table_list td{line-height:18px;padding:3px 0px 3px 10px; text-align:left;font-size:0.875em;}
.table_list th:last-child{text-align:right}

.btn_panel{position:fixed;bottom:0px;left:0px;width:100% ;z-index:10000}
.btn{padding:10px 3.125%;border-top:1px solid #067be1;height:45px; background-color:#fff}
a.btn_1,a.btn_1:hover{border-radius:2px;width:68px;height:30px; background-color:#c2c4cb; box-shadow:inset 0px 1px 0px rgba(255,255,255,0),0px 1px 0px rgba(0,0,0,0.5); display:block; text-align:center;line-height:30px;font-size:14px;font-weight:100;color:#000;text-decoration:none}
a.btn_1 span,a.btn_1:hover  span{color:#000; text-decoration:none}
a.btn_1:hover{background-color:#e0e1e5;color:#000}
a.btn_g,a.btn_b,a.btn_g:hover,a.btn_b:hover,a.btn_l,a.btn_l:hover{
	border-radius:6px;
	width:125px;
	height:45px; 
	background-color:#c2c4cb; 
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0),0px 1px 0px rgba(0,0,0,0.5); 
	display:block; 
	text-align:center;
	line-height:45px;
	font-size:18px;
	color:#000;
	font-weight:100;
	text-decoration:none
}
a.btn_g:hover{
	background-color:#e0e1e5; 
}
a.btn_l,a.btn_l:hover{width:100%;}
a.btn_b,a.btn_b:hover,a.btn_l,a.btn_l:hover{background-color:#0b6aff;color:#fff; text-shadow:0px 1px 0px rgba(0,0,0,0.3)}
a.btn_b:hover,a.btn_l:hover{background-color:#0096ff;}
a.btn_c,a.btn_c:hover{border-radius:4px;height:40px; background-color:#c2c4cb; box-shadow:inset 0px 1px 0px rgba(255,255,255,0),0px 1px 0px rgba(0,0,0,0.5);text-align:center; display:inline-block;line-height:40px;font-size:14px;font-weight:100;color:#000;text-decoration:none;}
a.btn_c span,a.btn_c:hover  span{color:#000; text-decoration:none;}
a.btn_c:hover{background-color:#e0e1e5;color:#000}
a.btn_c:visited{color:#000}
ul.content_btn{width:100%}
ul.content_btn li{float:left;width:50%;}
ul.content_btn li a{margin:0.75em 0.75em 0em 0.75em;width:89%;}
.check_person{height:auto;position:fixed;left:0px;bottom:0px;margin-bottom:65px;padding:0px 3.125%; background-color:#fff}
.check_person ul li{float:left;margin-right:20px; position:relative; left:0px;top:0px}
.check_person ul li .name{padding:0px 15px;text-align:center;line-height:20px;font-size:0.875em;background-color:#b5dfff; margin-top:12px; }
.check_person ul li .close_btn{position:absolute;top:5px;right:-8px;width:22px;}
.check_person ul li .close_btn img{width:22px;max-width:100%;}
.tleft{text-align:left}
.tright{text-align:right}
.fleft{float:left}
.fright{float:right}
.w50{float:left;width:50%;}
.ml_10{margin-left:10px;}
.c1{color:#333}
.c2{color:#5a5a5a}
.w100P{width:100px;}
.w200P{width:200px;}
.mw100P{margin-left:100px;}

.search{height:50px;}
.search .input-panel{margin-right:62px;margin-top:8px;}
.search .input{
	height:40px;
	line-height:30px; 
	width:100%;
	padding:0px 0px 0px 5px;
	
	font-size:16px;
	font-family:"microsoft yahei"
}
.search .search_bt{width:42px;height:42px;margin-right:10px; float:right; display:inline}
a.search_btn{width:100%;border-radius:2px;background-color:#c2c4cb; box-shadow:inset 0px 1px 0px rgba(255,255,255,0),0px 1px 0px rgba(0,0,0,0.5);  text-align:center; display:inline-block; line-height:40px;}
a.search_btn img{width:22px;max-width:100%; vertical-align:middle}
.mt_0{margin-top:0px;}
.fz_20{font-size:1.125em;}
.left_nav ul li{position:relative;top:0px;left:0px}
.acenter{ text-align:center;font-size:0.875em}
.ui-radio .process{width:80px; float:left;}
.fz_14{font-size:0.875em}
.list_nav{height:40px;border-bottom:1px solid #c8c8c8;background-color:#ececec;line-height:40px;}
.images_list,.file_list{height:auto;}
.images_list ul li{float:left}
.images_list ul li img{margin:10px 5px 0px 5px;width:300px;height:150px;border:1px solid #cccecd}

.file_list ul li{line-height:42px;border-bottom:1px solid #c8c8c8;}
.file_list ul li span{padding:3px 10px 3px 10px;}
.file_list ul li a{color:#000;font-weight:100; text-decoration:none; display:block}
.file_list ul li a:hover{color:#fff;font-weight:100; text-decoration:none; background-color:#009cff; text-shadow:0px 1px 0px rgba(0,0,0,0.3)}

.ui-controlgroup-controls .ui-checkbox{border-radius:none}
.aa{border-bottom:1px solid #e2e2e2}
.ui-btn,label ui-btn{border:0px;}
.table_list1{width:100%; padding-bottom:6px;padding-top:6px;font-size:16px}
.table_list1 th{height:24px;line-height:24px; text-align:left; vertical-align:top;font-weight:100;color:#717171}
.table_list1 td{line-height:18px;text-align:left;color:#000}
.pd_bottom{padding-bottom:60px;}

.wp100{width:98px;}
.mlw100{margin-left:98px;}
.textr{text-align:right}


.ui-controlgroup-controls .ui-checkbox{border-radius:none}
.aa{border-bottom:1px solid #e2e2e2}
.ui-btn,label ui-btn{border:0px;}
.table_list1{width:100%; padding-bottom:6px;padding-top:6px;}
.table_list1 th{height:24px;line-height:24px; text-align:left; font-size:0.875em;vertical-align:top;font-weight:100;color:#717171}
.table_list1 td{line-height:18px;text-align:left;font-size:0.875em;color:#000}
.pd_bottom{padding-bottom:60px;}

/**********车辆电话新增***************/
p{padding:0px;margin:0px;}
.phone_wrap .listView nav ul li,
.car_wrap .listView nav ul li {
	line-height:50px;
	font-size:16px;
	border-bottom:1px solid #c9c9c9;
	position:relative
}
.phone_wrap .listView nav ul li a,
.car_wrap .listView nav ul li a {
	color:#333;
	text-decoration:none; 
	display:block;
	padding-left:14px;
	font-weight:400;
	position:relative;
}
.phone_wrap .listView nav ul li .arrow,
.car_wrap .listView nav ul li .arrow {
	width:20px;
	height:20px;
	position:absolute; 
	background-image:url(../images/arrow.png);
	right:10px;
	top:15px;
}
.phone_wrap .listView nav ul li span,
.car_wrap .listView nav ul li span {
	position:relation;
	width:20px;
	height:20px; 
	text-align:right
}
.phone_wrap .listContent nav ul li,
.car_wrap .listContent nav ul li {
	border-top:1px solid #fff;
	display:block;
	background-color:#e4e4e4;
	font-size:13px;
	font-weight:700;
	line-height:25px; 
	text-indent:14px;
}
.phone_wrap .listContent nav ul ul li,
.car_wrap .listContent nav ul ul li {
	height:auto;
	border-bottom:1px solid #c9c9c9;
	display:block;
	background-color:#fff;
	padding:5px 0px;
}
.phone_wrap .listContent nav ul ul li p:first-child,
.car_wrap .listContent nav ul ul li p:first-child  {
	line-height:24px;
	font-size:16px;
	font-weight:bold; 
	display:block; 
	text-align:left
}
.phone_wrap .listContent nav ul ul li p:last-child,
.car_wrap .listContent nav ul ul li p:last-child  {
	line-height:18px;
	font-weight:400;
	color:#666666
}
.phone_wrap #page3 nav ul li {
	border-top:1px solid #fff;
	display:block;
	background-color:#e4e4e4;
	font-size:13px;
	font-weight:700;
	line-height:25px; 
	text-indent:14px;
}
.phone_wrap #page3 nav ul ul li{
	height:36px;
	line-height:36px;
	font-size:13px;
	font-weight:400;
	border-bottom:1px solid #c9c9c9;
	display:block;
	background-color:#fff;
	color:#666;
}
.car_wrap .listContent nav ul li{ text-align:center}
.car_wrap .listContent nav ul ul li{padding:10px 0px 8px 0px;}
.car_wrap .listContent nav ul ul li p:first-child{line-height:26px;}
.car_wrap .listContent nav ul ul li p:last-child{line-height:22px; text-align:left;margin:0px 0px 0px 14px;text-indent:0px;}
.car_wrap .listContent nav ul ul li p:first-child span { 
    float:right;
	font-size:16px;
	line-height:26px;
	font-weight:bold;
	font-weight:400;
	margin-right:14px;
}
span.blue{color:#0066ff}
span.red{color:#ff3300}
span.green{color:#339900}

div[data-role="navbar"] ul li a{font-family:"microsoft yahei";line-height:10px;}


/***************research**********************/
.re_title {
	background:url(../images/beij.jpg);
	width:100%;
	background-size:100% auto;
	font-size:18px;
	line-height:28px;
	font-weight:bold;
	text-shadow:rgba(255,255,255,0.2);
	font-family:"microsoft yahei";
	color:#000;
	padding:30px 0px;
	text-align:center;
}
.re_explain {
	width:100%;
	height:auto;
	display:block;
	text-shadow:none;
	line-height:22px;
	font-size:12px;
	color:#fff;	
	font-family:"microsoft yahei";
}
.re_explain div{
	background-color:#be0101;
	padding:8px 10px;		
}
.re_explain div.small{width:100%;height:20px;overflow:hidden;}
.re_explain div.small p{width:80%;height:20px;overflow:hidden;float:left;}
.re_explain div p{width:100%;float:left; display:block;}
.re_explain #expend,.re_explain #shrink{width:100%;text-align:right;}
.re_explain span.display{display:none;text-align:right}
.re_topic{clear:both;}
.re_topic ul li {
	line-height:22px;
	font-weight:400;
	padding:7px 10px;
	font-size:14px;
	border-bottom:
	1px solid #cccccc
}
.re_topic ul div.topic_title {
	line-height:22px;
	font-size:14px;
	border-bottom:1px solid #cccccc;
	font-weight:bold;padding:10px;
}
.re_topic ul li.select {
	background-color:#fffbb1;
	color:#fe0000
}
.re_button .cancel,.re_button .submit {
	width:50%;float:left;
	background-color:#a1a1a1;
	font-size:16px;
	text-shadow:none;
	color:#fff;
	text-align:center;
	height:38px;
	line-height:38px;
	margin-top:10px;
}
.re_button .submit{
	background-color:#e00000
}
.re_button a:hover {
	color:#fff
}