@charset "utf-8";
/*basic*/
body {
	font-size: 12px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	color: #232323;
	background-color: #FFF;
	font-family: "Microsoft YaHei";
}
/*main*/
#wrap {
	min-width: 985px;
}
.Zclear {
	clear: both;
	line-height: 1px;
	visibility: hidden;
	height: 1px;
}
.clearfix {
	display: block; clear:both;
}
.left_frame {
	float: left;
	width: 200px;
	background-color: #eaeaea;
	border-right: 1px solid #ccc;
}
.right_frame {
	margin-left: 210px;
	background-color: #33FF99;
}
.top_message {
	background: #fff;
	border-bottom: 1px solid #868686;
	padding: 3px 8px;
	clear: both;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.submit_operation {
	background: #aaa;
	border-bottom: 1px solid #868686;
	height: 45px;
	line-height: 35px;
	padding: 3px 8px;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
	text-align: center;
}
.bottom_area {
	height: 55px;
}
a.bt_submit, a.bt_save, a.bt_cancel {
	margin: 9px 0px;
	cursor: hand;
}
a.bt_save, a.bt_cancel {
	margin: 9px;
}
a.bt_submit, a.bt_submit span, a.bt_submit:hover, a.bt_submit:hover span, a.bt_save, a.bt_save span, a.bt_save:hover, a.bt_save:hover span, a.bt_cancel, a.bt_cancel span, a.bt_cancel:hover, a.bt_cancel:hover span {
    background-color: #00a6ff; 
	padding-left: 20px;
	height: 30px; color:#fff;
	display: inline-block;
	text-indent: 0;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;padding-right: 20px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}
a.bt_save, a.bt_save span, a.bt_save:hover, a.bt_save:hover span {
	background-color: #2ac600;
}
a.bt_cancel, a.bt_cancel span, a.bt_cancel:hover, a.bt_cancel:hover span {
	background-color: #eee; color:#333;
}
a.bt_submit:hover,a.bt_submit:hover span{
	background-color: #005bff;
}
a.bt_save:hover, a.bt_save:hover span {
	background-color: #00a814;
}
a.bt_cancel:hover, a.bt_cancel:hover span {
	background-color: #ccc;
}
/*tab*/
.u_tab_div {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	padding-left: 48px;
}
.u_tab, .u_tab_no, .u_tab_hover {
	float: left;
	background: #d7d7d7;
	padding: 4px 20px;
	text-align: center;
	line-height: 21px;
	margin: 10px 4px 0px 0px;
	font-weight: normal;
	border: 1px solid #a1a1a1;
	border-bottom: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#tab01 .u_tab a, #tab01 .u_tab_no a {
	color: #000;
}
.u_tab_hover {
	background: #f5696c;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	margin-top: 2px;
	border-color: #f5696c;
	font-size: 16px;
}
#tab01 .u_tab_hover a {
	color: #fff;
}
.ul_news {
	margin: 0;
	background-color: #fff;
	border-top: 1px solid #f5696c;
	padding: 20px;
}
.table_list {
	border: 1px solid #ccc;
	border-top: none;
}
.table_list th {
	background-color: #f5696c;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	padding: 10px;
	line-height: 20px;
}
.table_list td {
	padding: 10px; background-color:#fff;font-size:14px;
	border-top: 1px solid #ccc;
}

/*button*/
.bt1 .bt_1, .bt2 .bt_2, .bt3 .bt_3 {
	display: block;
	padding: 3px;
	color: #FFF;
	margin: 10px 0;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.bt1 a:link, .bt1 a:visited {
	background-color: #00aeff;
	color: #fff;
}
.bt1 a:hover {
	background-color: #06f;
	color: #fff;
	text-decoration: none;
}
.bt2 .bt_2 {
	margin-top: 25px;
}
.bt2 a:link, .bt2 a:visited {
	background-color: #f60;
	color: #fff;
}
.bt2 a:hover {
	background-color: #F30;
	color: #fff;
	text-decoration: none;
}
.bt3 .bt_3 {
	width: 130px;
}
.bt3 a:link, .bt3 a:visited {
	background-color: #f5696c;
	color: #fff;
}
.bt3 a:hover {
	background-color: #F36;
	color: #fff;
	text-decoration: none;
}
.table_div {
}
.sany_table th {
	text-align: left; 
}
.sany_table th{padding: 8px 10px;}
.sany_table th, .sany_table td {
	padding: 4px 10px;line-height:19px;
}
a.search_bt, a.search_bt span, a.search_bt:hover, a.search_bt:hover span {
	background-color: #e4e4e4;
	padding: 0 10px;
	height: 30px;
	color: #333;
	display: inline-block;
	text-indent: 0;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.search_bt {
	cursor: hand;
}
a.search_bt:hover, a.search_bt:hover span {
	background-color: #ccc; color:#000;
}
