a:link,a:visited{color:#0858ba;}
a:hover{color: #900;}
.num{font-weight:bold;padding:3px;font-size:1.1em;}
/*right*/
.notice_area{ background:#f4f4f4;border-bottom:1px solid #e1e1e3; height:31px;clear:both; position:fixed;top:0;left:0; width:100%;}
.notice_area .news_title{font-weight:bold;font-size:14px;float:left;width:100px;margin-left:8px;margin-top:4px;}
.index_contain{margin-top:34px; }
.index_contain .side_bar {float: right; width: 240px;padding:10px;}
.index_contain .side_bar .title_right {border-bottom:1px  dashed #ccc;height:30px;line-height:30px;font-weight:bold;font-size:15px;}
.index_contain .side_bar .title_right img{padding:3px 4px;}
.more_style{float:right;width:60px; text-align:right;font-size:12px;font-weight:normal;}
.index_contain .side_bar .right_content{border-top:1px dashed #ccc;margin-top:2px;padding:5px;}
.index_contain .side_bar .right_content ul li{ padding:3px 3px 3px 10px; background:url(../images/arrow.png) no-repeat left center; }
.index_contain .side_bar .right_content ul li a{color:#333;line-height:28px;border-bottom:1px dashed #eee; display: inline-block;white-space: nowrap;word-wrap: normal;width: 100%;overflow: hidden;  
-ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;  -webkit-text-overflow: ellipsis;  text-overflow: ellipsis;}
.index_contain .side_bar .right_content ul li a:hover{ background: url(../images/arrow2.png) no-repeat left center; color:#0858ba;}

/*left*/
.index_contain .index_left{margin-right: 260px;border-right:1px solid #ccc;}
.index_contain .index_left .top_h {height:90px;}
.index_contain .index_left .top_h .left_h{float:left;width:95px;padding-top:74px;margin-right:10px; text-align:center; font-size:12px;background:url(../images/h.png)  no-repeat top center;}
.index_contain .index_left .top_h .content_h{font-size:14px;line-height:26px;padding-top:10px;}
.index_title{height:28p;padding:4px;border-top:1px solid #ccc;border-bottom:1px dashed #ccc; background:#fafafa url(../images/title_bg.png) no-repeat 6px center;font-weight:bold;font-size:15px;padding-left:25px;margin:10px auto;}
.application{padding:10px 20px;  line-height:24px; overflow:hidden;}
.application li{float:left;width:90px;height:75px; text-align:center;}
.index_list{padding:10px;padding-top:0;}
.application ul li a:link,.application ul li a:visited{color:#333; line-height:18px;}
.application ul li a:hover{color:#06c;}
.operate_right{float:right;width:200px; text-align:right;font-weight:normal;font-size:12px; display:inline-table;}
/*table*/
.tableContainer{border:1px solid #ccc; background:url(../images/table_bg.png) repeat-x left top;}
.table_index{max-height:135px; overflow:auto;}

#scrollMsg li{height:18px;line-height:18px;overflow:hidden;font-size:12px;padding:0 10px;} 
