a:link, a:visited {
	color: #0858ba;
}
a:hover {
	color: #900;
}
/*right*/
body {
	font-size: 14px;
}
.performance_top {
	height: 35px;
	line-height: 35px;
	min-width: 985px; border-bottom:1px solid #ccc;
	
}
.performance_top .td_right {
	text-align: right;
	width: 100px;
	padding-right: 3px;
}
.explain_1 {
	text-align: right;
	padding-right: 20px;
	float: right;
	width: 100px;
	margin-top: -38px;
}
.title_top {
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	color: #333;
	padding: 5px;
}
.next_button a {
	float: right;
	width: 100px;
	font-size: 14px;
	line-height: 24px;
	background: #e4e4e4;
	color: #333;
	font-weight: normal;
	margin-bottom: 10px;
}
.next_button a:hover {
	background: #ccc;
	color: #333;
}
.performance_top2 {
	height: 60px;
	line-height: 30px;
	min-width: 985px;
}
.top_name {
	font-weight: bold;
	font-size: 20px;
}
a.bt_approval, a.bt_approval span, a.bt_approval:hover, a.bt_approval:hover span {
	background-color: #00a6ff;
	padding: 0 10px;
	height: 36px;
	color: #fff;
	display: inline-block;
	text-indent: 0;
	line-height: 36px;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
a.bt_approval {
	margin: 9px 28px;
	cursor: hand;
}
a.bt_approval span, a.bt_approval:hover span {
	padding-left: 40px;
	background: url(../images/u2.png) no-repeat 5px center;
}
a.bt_approval:hover, a.bt_approval:hover span {
	background-color: #005bff;
}
a.bt_approval2, a.bt_approval2 span, a.bt_approval2:hover, a.bt_approval2:hover span {
	background-color: #00a6ff;
	padding: 0 10px;
	height: 30px;
	color: #fff;
	display: inline-block;
	text-indent: 0;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
a.bt_approval2 {
	margin: 5px 28px;
	cursor: hand;
}
a.bt_approval2 span, a.bt_approval2:hover span {
	padding-left: 40px;
	background: url(../images/u2.png) no-repeat 5px center;
}
a.bt_approval2:hover, a.bt_approval2:hover span {
	background-color: #005bff;
}
a.bt_approval3, a.bt_approval3 span, a.bt_approval3:hover, a.bt_approval3:hover span {
	background-color: #f5696c;
	padding: 0 10px;
	height: 30px;
	color: #fff;
	display: inline-block;
	text-indent: 0;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
a.bt_approval3 {
	margin: 5px;
	cursor: hand;
}
a.bt_approval3:hover, a.bt_approval3:hover span {
	background-color: #f36;
}
.performance_approval {
	margin-top: 60px;
	padding: 20px;padding-right:0;
}
.main_contain.performance_approval .department_box{clear:both;}
.main_contain.performance_approval .department_box .department_title {
	font-size: 20px;
	font-weight: bold;
	color: #068cef;
}
.main_contain.performance_approval .department_box .operate_msg{height:40px;margin-top:10px;}
.main_contain.performance_approval .department_box .operate_msg .operat_button {
	float: right;
	width: 350px;
	text-align: right;
}
.main_contain.performance_approval .department_box .operate_msg .proportion{font-size:12px; line-height:18px;}
.main_contain.performance_approval .department_box .performance_box ul li {
	background-color: #FFF; float:left;width:21.9%;min-width:285px;height:70px;margin:10px 20px 10px 0;
	border: 1px solid #CCC;padding:10px;
}
.performance_name {
	height: 30px;
}
.performance_name .name1 {
	font-size: 20px;
	font-weight: bold;
	float: left;
	width: 144px;
	padding-left: 6px;color:#333;
}
.performance_name .date_1 {
	text-align: right;margin-left:150px;
}
.performace_operate{height:40px;line-height:40px;}
.performace_operate .performace_button {
	float: left;
	width: 190px;
}
.performace_operate .performace_state {
	text-align: right;margin-left:190px;height:40px;
}
.performace_operate .performace_state .select1{margin-top:8px;}.performace_operate .performace_state .no_treaty {
	border: 1px solid #e4e4e4;padding:3px 8px; background-color:#f2f2f2;color:#666;
}
.main_contain.performance_approval .num_list_box {
	margin-top: 50px; margin-right:20px;
}
.main_contain.performance_approval .num_list_box .list_msg{padding:10px 0;}
.main_contain.performance_approval .num_list_box .list_msg .notice {
	color: #f00;
	text-align: right;
	float: right;
	width: 300px;
}
.main_contain.performance_approval .num_list_box .list_msg .list_title {
	font-size: 20px;
	font-weight: bold;
}
.main_contain.performance_approval .num_list_box .list_search {
	background-color: #767676;
	height: 30px;padding:10px;
}
#moquu_top {
	z-index:2;
	width:50px;
	height:50px;
	right:10px;
	position:fixed;
	cursor:pointer;
	_position:absolute;
	_bottom:auto;
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)))
}
#moquu_top {
	bottom:40px;
	_margin-top:516px;
	background:url(../images/sbtn.png) 0 -101px;
	width:50px;
	height:50px
}
#moquu_top:hover {
	background:url(../images/sbtn.png) -50px -101px
}
#wrap {
	min-width: 985px;
}
.Zclear {
	clear: both;
	line-height: 1px;
	visibility: hidden;
	height: 1px;
}
.clearfix {
	display: block; clear:both;
}
.left_frame {
	float: left;
	width: 200px;
	background-color: #eaeaea;
	border-right: 1px solid #ccc;
}
.right_frame {
	margin-left: 210px;
	background-color: #33FF99;
}
.top_message {
	background: #fff;
	border-bottom: 1px solid #868686;
	padding: 3px 8px;
	clear: both;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/*tab*/
.u_tab_div {
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	padding-left: 48px;margin-top:10px;
}
.u_tab, .u_tab_no, .u_tab_hover {
	float: left;
	background: #ececec;
	padding: 4px 20px;
	text-align: center;
	line-height: 21px;
	margin: 10px 4px 0px 0px;
	font-weight: normal;
	border: 1px solid #a1a1a1;
	border-bottom: none;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#tab01 .u_tab a, #tab01 .u_tab_no a {
	color: #000;
}
.u_tab_hover {
	background: #f5696c;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
	margin-top: 2px;
	border-color: #f5696c;
	font-size: 16px;
}
#tab01 .u_tab_hover a {
	color: #fff;
}
#tab01 .u_tab a b{color:#f00;}
#tab01 .u_tab_hover a b{color:#fff;}

.ul_news {
	margin: 0;
	background-color: #fff;
	border-top: 1px solid #f5696c;
	padding: 20px;
}
.table_list {
	border: 1px solid #ccc;
	border-top: none;
}
.table_list th {
	background-color: #f5696c;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	padding: 10px;
	line-height: 20px;
}
.table_list td {
	padding: 10px; background-color:#fff;font-size:14px;
	border-top: 1px solid #ccc;
}

/*button*/
.bt1 .bt_1, .bt2 .bt_2, .bt3 .bt_3 {
	display: block;
	padding:0 3px;
	color: #FFF;
	margin: 10px 0;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
 .bt3 .bt_3{padding:3px;}
.bt1 a:link, .bt1 a:visited {
	background-color: #00aeff;
	color: #fff;
}
.bt1 a:hover {
	background-color: #06f;
	color: #fff;
	text-decoration: none;
}
.bt2 .bt_2 {
	margin-top: 25px;
}
.bt2 a:link, .bt2 a:visited {
	background-color: #f60;
	color: #fff;
}
.bt2 a:hover {
	background-color: #F30;
	color: #fff;
	text-decoration: none;
}
.bt3 .bt_3 {
	width: 110px;
}
.bt3 a:link, .bt3 a:visited {
	background-color: #f5696c;
	color: #fff;
}
.bt3 a:hover {
	background-color: #F36;
	color: #fff;
	text-decoration: none;
}
.table_div {
}
.sany_table th {
	text-align: left; 
}
.sany_table th, .sany_table td {
	padding: 4px 10px;line-height:19px;
}
.sany_table th{padding:10px;}
a.search_bt, a.search_bt span, a.search_bt:hover, a.search_bt:hover span {
	background-color: #e4e4e4;
	padding: 0 10px;
	height: 30px;
	color: #333;
	display: inline-block;
	text-indent: 0;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
a.search_bt {
	cursor: hand;
}
a.search_bt:hover, a.search_bt:hover span {
	background-color: #ccc; color:#000;
}
.flow_chart{height:50px;margin:30px 10px; line-height:24px;}
.flow_1{float:left;padding:2px 15px;height:46px;border:1px solid #9e9e9e; background-color:#e9e9e9; text-align:center;font-weight:bold;}
.flow_star{float:left;height:47px; width:62px;font-weight:bold;line-height:46px; text-align:center; background: url(../images/flow_star.png) no-repeat left top;}
.flow_no{line-height:46px;}
.flow_chart .flow_1.select_flow{background:#ddedfa;border:1px solid #2a77d4;}
.flow_chart .flow_star.select_flow{ background: url(../images/flow_select.png) no-repeat left center;}
.flow_1 .select_person{font-weight:normal;font-size:12px; }
.flow_arrow{float:left;width:23px; height:47px; background:url(../images/flow_arrow.png) no-repeat left  center;}
.select_tr{ color:#0098fe;font-weight:bold;}