@charset "utf-8";

*{ margin:0; padding:0;}
body {
	margin: 0px;
	padding: 0px;
	font-family: "宋体", arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #515151;
}

img{ }

td,th{
	font-family:12px/24px  "宋体", arial, helvetica, sans-serif;
}
a{
	color: #515151;
	text-decoration: none;
}
a:link{text-decoration: none;	color: #515151;}
a:visited{text-decoration: none;	color: #515151;}
a:hover {
	text-decoration:underline;
	color: #515151;
}
ul {
	list-style-type: none
}
li {
	list-style-type: none
}
.clear {
	line-height: 0px; height: 0px; clear: both; font-size: 1px
}
p {
	text-indent: 26px;
}
#wrapper {
	margin:0 auto;
	width: 975px;
}
.top {
 	padding: 3px;
	padding-top:7px;
	background-image: url(../images/top_right.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 35px;
	text-align: right;
}
.top .logo_top {
	float: left;
	width: 340px;
	text-align:left;
}
.top .log_message {
	line-height: 20px;
	padding-top: 8px;
	padding-right: 5px;
}
.blue{ color:#0586da}
.blue1{ color:#267ED7}
.log_message .zhuxiao{ font-weight:bold; color:#333333;}
.daohang {
	MARGIN: 0px auto; BACKGROUND: #808080; HEIGHT: 29px; CLEAR: both; OVERFLOW: hidden
}
.positon2{BACKGROUND: #808080;color:#fff; padding:0px 5px;}
.positon2 a{color:#fff;}
.dhleft {
	PADDING-LEFT: 10px; WIDTH: 975px; FLOAT: left; HEIGHT: 29px; OVERFLOW: hidden
}
.dhright {
	LINE-HEIGHT: 29px; WIDTH: 198px; FONT-FAMILY: Arial; FLOAT: right; HEIGHT: 29px; COLOR: #fff; FONT-SIZE: 11px; OVERFLOW: hidden
}
.dhright SPAN {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px
}
.dhright A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.dhright A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.dhright A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.bluetabs {
	BACKGROUND: #808080; HEIGHT: 29px; OVERFLOW: hidden;
}
.bluetabs UL {
	TEXT-ALIGN: left; LIST-STYLE-TYPE: none; FONT: 12px 宋体; PADDING-TOP: 2px;padding:0px 10px;
}
.bluetabs LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; MARGIN: 0px 5px; WIDTH: 80px; DISPLAY: inline; FLOAT: left; HEIGHT: 26px
}
.bluetabs LI A {
	BORDER-BOTTOM: #808080 0px solid; BORDER-LEFT: #808080 1px solid; DISPLAY: block; BACKGROUND: #808080; BORDER-TOP: #808080 1px solid; BORDER-RIGHT: #808080 1px solid; TEXT-DECORATION: none
}
.bluetabs LI A:link {
	COLOR: #fff
}
.bluetabs LI A:visited {
	COLOR: #fff
}
.bluetabs LI A:hover {
	BORDER-BOTTOM: #c7c7c7 0px solid; BORDER-LEFT: #c7c7c7 1px solid; BACKGROUND: #fff; COLOR: #2a2a2a; BORDER-TOP: #c7c7c7 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c7c7c7 1px solid; TEXT-DECORATION: none
}
.bluetabs LI.selected {
	COLOR: #2a2a2a
}
.bluetabs LI.selected A {
	BORDER-BOTTOM: #c7c7c7 0px solid; BORDER-LEFT: #c7c7c7 1px solid; BACKGROUND: #fff; COLOR: #2a2a2a !important; BORDER-TOP: #c7c7c7 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c7c7c7 1px solid
}
.bluetabs LI.selected A:hover {
	BORDER-BOTTOM: #c7c7c7 0px solid; BORDER-LEFT: #c7c7c7 1px solid; BACKGROUND: #fff; COLOR: #2a2a2a; BORDER-TOP: #c7c7c7 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c7c7c7 1px solid; TEXT-DECORATION: none
}
.bluetabs LI .dropmenudiv_b {
	Z-INDEX: 100; BORDER-BOTTOM: #c7c7c7 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #c7c7c7 1px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: -1px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; FONT: 12px/18px Verdana; BACKGROUND: #fff; VISIBILITY: hidden; BORDER-TOP: medium none; TOP: 0px; BORDER-RIGHT: #c7c7c7 1px solid; PADDING-TOP: 0px
}
* + HTML .bluetabs LI .dropmenudiv_b {
	MARGIN-LEFT: -1px
}
.bluetabs LI .dropmenudiv_b A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 2px; TEXT-INDENT: 10px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; DISPLAY: block; background-color:#FFF; COLOR: #737375 !important; BORDER-TOP: medium none; FONT-WEIGHT: normal; BORDER-RIGHT: medium none; TEXT-DECORATION: none; PADDING-TOP: 2px
}
* HTML .bluetabs LI .dropmenudiv_b A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 100%; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.bluetabs LI .dropmenudiv_b A:hover {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: normal; BORDER-RIGHT: medium none; TEXT-DECORATION: underline
}

.footer {
	height: 54px;
	margin:0 auto;
	width: 975px;
	border: 1px solid #d1cecd;
	background: url(../images/foot_bg.jpg) repeat-x left top;
    left:0px;
	bottom:0px;
	color: #868686;
	position: relative;
	margin-top: -36px;
	clear:both;
}
 .footer .isany {
	background: url(../images/esany.jpg)  no-repeat left 5px;
	float:left;
	width: 120px;
	height: 54px;
}
 .footer .quality {
	background: url(../images/quality.jpg)  no-repeat left 6px;
	float: right;
	width: 197px;
	height: 54px;
}
.footer .copy_right {
	line-height: 20px;
	padding-top: 8px;
	padding-left: 10px;
	color: #807f7d;
}
.footer .copy_right .num {
	color: #990000;
	padding: 5px;
}
.footer .copy_right a {
	padding: 5px;
	color: #807f7d;
}
.footer .copy_right a:hover {
	padding: 5px;
	color: #990000;
}


.container{
	margin: 10px 0;
	padding-top: 10px;
}
.container { }
.container .lc{width:300px; float:left;}
.container .mc{ float:left; width:380px; margin-left:18px;}
.container .rc{ float:right; width:190px;}

.container .leftmenu{ float:left; width:160px;}
.container .rightcontent{ margin-left:190px; height:auto;}
.mr{margin-left:0px;}
.top_content{width:975px;}
.bottom_content{padding-bottom:20px; height:298px; overflow:hidden}
.box_1{float:left; width:554px;margin-right:18px;}
.box_1 .box_content {
	padding: 8px;
	border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;
	margin-right:0px;
	background-color:#FFFFFF;
	height:330px;
}

.box_1 .content_top {
	height: 31px;
	background-image: url(../images/top_bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
}

.box_1 .right_top {
	float: right;
	width: 6px;
	height: 31px;
	background-color: #CC0000;
	background-image: url(../images/right_top.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.box_1 .left_top {
	background: url(../images/left_top.jpg)  no-repeat left top;
	*background-position: left top;
	_background-position: 1px top;
	float: left;
	width: 6px;
	height: 31px;
	margin-right: 3px;
}
.more{
	float:right;
	margin-right:5px;
	line-height:30px;
}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mr{margin-left:18px;}
.wid1{width:380px;}
.wid2{width:375px;}
.box_2 h1{height:31px; line-height:31px; font-size:12px; border-bottom:1px solid #E7E7E7;}
.box_2 a{color:#676767; font-weight:normal; font-size:12px;}
.box_2 a:hover{ text-decoration:underline;}
.box_2 .more{ margin:0;}
.box_2 .sort{ margin-right:10px;}
.box_2 li {
	margin: 0px;
	background-image: url(../images/dot.jpg);
	background-repeat: no-repeat;
	background-position: 4px 15px;
	list-style-type:none;
	padding-top: 2px;
	padding-right: 0px;
}
.box_2 .date {
	color: #A4A4A4;
	float: right;
	width: 60px;
}
.box_2 .block{ margin-top:8px; border-bottom:1px dashed #ccc;padding-bottom:8px;}
.box_2 .block a{ margin:0 8px;}
.box_2 .block div{ line-height:24px;}
.h287{ height:308px;}
.red{ color:black;}

.box_2 .block2{margin-top:8px;}
.box_2 .block2 .mgin5{ margin:0 5px;}
.box_2 .block2 td{ line-height:20px;}
.pt5{ padding-top:5px;}

.video{padding:5px 0; margin-top:5px; background-color:F7F7F7}
.video h2{ font-size:12px;}
.video h2 a{ float:right; display:block; margin-right:5px;}

.vi li{ display:list-item; line-height:20px;padding:3px 0px }
.vi li span{color:#000}
.vi li a{font-weight:bold;}

#pre,#next{ cursor:pointer;}

.container .leftmenu h1{font-family: 微软雅黑; color: #e0333d; font-size: 16px; font-weight: bold; line-height:50px;}
.container .leftmenu li{
	padding-left:16px;
	line-height:22px;
	background-color: #FFF;
	background-image: url(../images/leftmenubg1.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.container .leftmenu li a{ color:#666; }
.container .leftmenu li a:hover{ text-decoration:underline;}
.container .leftmenu li.select{
	background-color: #D92219;
	background-image: url(../images/leftmenubg2.gif);
	background-repeat: no-repeat;
	background-position: left -2px;
}

#wrapper .container .leftmenu li ul{
	list-style-type: none;
	margin-left: -20px;
}
#wrapper .container .leftmenu li ul li{
	padding-left: 45px;
	list-style-type: none;
	background-position: 30px;
	line-height: 18px;
	padding-top: 3px;
}
#wrapper.container .leftmenu li ul li .select2{
	font-weight: bold;
}
#wrapper .container .leftmenu .select .select2 a {
	font-weight: bold;
	color: #FF3300;
	background-image: none;
}

#wrapper .container .leftmenu li li a{
	color: #696969;
}

.container .leftmenu li.select a{ color:#FFF;}
.titleMenu{ padding-top:26px; border-bottom:1px dotted #969696;}
.titleMenu .title{font-family: 微软雅黑;font-size: 16px; font-weight: bold; color:#333;}
.titleMenu .path{ float:right;}
.titleMenu .path a{ color:#515151; margin:0 5px;}
.titleMenu .path a:hover{ text-decoration:underline;}

.searchbox{ margin-top:45px;}
.searchbox .title,.ulList .title{ border-bottom:1px solid #E1E1E1; font-size:12px;}

.ulList{ margin-top:45px;}
.ulList li{ margin-top:10px;}
.ulList li a{ color:#515151}
.ulList li a:hover{ text-decoration:underline;}
.ulList .date{ color:#999; line-height:18px}
.detail{ margin-top:45px;}
.detail h1{ font-size:14px; text-align:center;border-bottom:#e1e1e1 1px solid}
.detail .detail_about{ text-align:center; color:#8F8F8F; height:30px; line-height:30px;}
.detail .detail_content{ margin-top:20px;}

.pub1 {
	BORDER-BOTTOM: #b0b0b0 1px dotted; PADDING-BOTTOM: 15px; MARGIN-TOP: 15px; WIDTH: 775px; MARGIN-LEFT: 10px; float:left;
}
.pub2 {
	 PADDING-BOTTOM: 15px; MARGIN-TOP: 15px; WIDTH: 655px;float:left;
}
.pub1_all {
	MARGIN-TOP: 5px; WIDTH: 258px; MARGIN-BOTTOM: 5px; FLOAT: left
}
.pub1_left {
	WIDTH: 90px; FLOAT: left; 
}
.pub1_left IMG {
	BORDER-BOTTOM: #c1bfc2 1px solid; BORDER-LEFT: #c1bfc2 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; WIDTH: 74px; PADDING-RIGHT: 3px; HEIGHT: 95px; BORDER-TOP: #c1bfc2 1px solid; BORDER-RIGHT: #c1bfc2 1px solid; PADDING-TOP: 3px
}
.pub1_right {
	WIDTH: 168px; FLOAT: left
}
.pub1_hang1 {
	MARGIN-TOP: 25px; COLOR: #777777; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.pub1_hang2 {
	
}
.pub1_hang2 SPAN {
	FLOAT: left
}
.pub1_hang3 {
	COLOR: #676767; PADDING-TOP: 7px
}

.aboutlist_right {
	WIDTH: 190px; FLOAT: right; HEIGHT: auto; PADDING-TOP: 15px
}
.aboutlist_right2 {
	WIDTH: 160px; FLOAT: right; HEIGHT: auto; PADDING-TOP: 25px
}
.aboutlist_right2 .v{ width:128px; margin-bottom:10px;word-wrap:break-word;word-break:break-all;}
.aboutlist_right2 .v li{ line-height:18px; color:#909090;}
.aboutlist_right2 .v .v_title{ padding:2px 0; color:#515151; text-align:left}

.sidebar {
	PADDING-BOTTOM: 30px; MARGIN-TOP: 0px; PADDING-LEFT: 10px; WIDTH: 170px; PADDING-RIGHT: 10px; FLOAT: right; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px
}


.tab{ background:url(../images/tab_bg.jpg) left bottom repeat-x; height:35px; margin-top:10px; }
.tab div{ float:left; width:80px; margin-left:5px; height:24px; line-height:24px; margin-top:7px;  font-weight:bold; text-align:center; border:1px solid #DCDCDC; background-color:#F0F0F0; cursor:pointer;}
.tab div.current{color:#dd0016;}
.tabcontent{padding-bottom:30px;}
.tabcontent .noshow{ display:none;}
.tabcontent .order{ line-height:24px; padding-left:5px; margin-top:10px;}
.tabcontent .order a{ margin:0 5px; padding:5px; }
.tabcontent .order a:hover,.tabcontent .order a.select{ color:#FFF; background-color:#0080C0; text-decoration:none;}

.videoList ul{ word-wrap:break-word;word-break:break-all;}
.videoList .v{ float:left; margin-right:35px; width:128px; position:relative; margin-bottom:10px;}
.videoList .v li{ line-height:18px; color:#909090;}
.videoList .v .ico__statplay {WIDTH: 16px; 	 _margin-top: 2px;DISPLAY: inline-block; BACKGROUND: url(../images/icon.jpg) no-repeat 0 0; HEIGHT: 12px; VERTICAL-ALIGN: text-bottom;VERTICAL-ALIGN: middle; margin-right:5px;}
.videoList .v .ico__statcomment{WIDTH: 16px; _margin-top: 2px; DISPLAY: inline-block; BACKGROUND: url(../images/icon.jpg) no-repeat -32px 0; HEIGHT: 12px; VERTICAL-ALIGN: text-bottom;VERTICAL-ALIGN: middle; margin:0 5px;}
.videoList .v .v_title{ padding:2px 0; color:#515151;}
.videoList .items{ width:655px; overflow:hidden; padding-top:14px;}
.hd_left{width:650px; float:left}
.video_k {BORDER: #ededed 1px solid; padding:8px;HEIGHT: auto; margin-top:20px;}
.video_bt {TEXT-ALIGN: center; LINE-HEIGHT: 50px; HEIGHT: 50px; FONT-SIZE: 14px; FONT-WEIGHT: bold;}
.video_js {LINE-HEIGHT: 20px; MARGIN-TOP: 20px;  HEIGHT: auto;}
.video_sp {TEXT-ALIGN: center;HEIGHT: 380px; }
.clear {HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden;}
.report li {height: 80px;}
#wrapper .container .rightcontent .ulList .report_img {float: left;height: 80px;width: 140px;}
#wrapper .container .rightcontent .ulList .report .report_title {font-weight: bold;}
#wrapper .container .rightcontent .report_div {
	margin-top: 40px;
}
#wrapper .container .rightcontent .report_div .date {
	font-weight: bold;
	color: #8f8f8f;
}
#wrapper .container .rightcontent .report_div .title {
	font-weight: bold;
	color: #555555;
	border-bottom: 1px  solid #e1e1e1;margin-bottom:15px;
}
#wrapper .container .rightcontent .report_div .aboutlist_zibt1 {
	margin-top: 40px;
	height: 190px;margin-bottom:40px;
}
#wrapper .container .rightcontent .report_div .aboutlist_zibt1 .title {
	font-weight: bold;
	color: #555555;
	border-bottom: 1px  solid #e1e1e1;margin-bottom:15px;
}
#wrapper .container .rightcontent .report_div .aboutlist_zibt1 .news_ima2 {
	float: left;
	height: 170px;
	width: 260px;
}
#wrapper .container .rightcontent .report_div .aboutlist_zibt1 .title2 {
	font-weight: bold;
	color: #555555;
}
#wrapper .container .rightcontent .report_div .Series{margin-bottom:20px;}
#wrapper .container .rightcontent .report_div .Series .date {
	font-weight: normal;
}
#wrapper .container .rightcontent .report_div .Series li {
	margin-top: 8px;
}
#wrapper .container .rightcontent .report_div .photos{}
#wrapper .container .rightcontent .report_div .photos li {
	float: left;
	height:100px;
	width: 160px;
}
#wrapper .container .rightcontent .report_div .photos li img {
	height: 75px;
	width: 115px; padding:8px; border:1px dashed #ccc;
}

.container {
	margin: 0px 0px 10px 0px; padding-bottom:4px;
}

html, body, #wrapper {height: 100%;}
body >#wrapper {height: auto; min-height: 100%;}

.clearfix:after {content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
.block img,.block2 img,.video img, #showpic,.v img,.report_img img{
	border: 1px solid #ccc; padding:1px;
}
.comment_box {
	border: 1px solid #CCCCCC;
	margin-top: 10px;
}
.comment_box .comment_title {
	background-color: #EBEBEB;
	font-size: 14px;
	font-weight: bold;
	background-image: url(../images/comment.gif);
	background-repeat: no-repeat;
	background-position: 4px 5px;
	padding-left: 26px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 2px;
}
.comment_box .comment_content {
	padding:0px;
	margin:0px;
}
.comment_box .comment_content li {
	border-top: 1px dashed #CCCCCC; padding:5px;
}

.comment_box .comment_title .comment_num {
	float: right;
	width: 150px;
	text-align: right;
	font-weight: normal;
	font-size: 12px;
}
.comment_box .comment_title .comment_num .red_num {
	color: #E71F21;
	padding: 2px;
}
.comment_box .comment_content {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.comment_box .comment_content .comment_user {
	color: #000000;
	float: left;
	width: 150px;
}
.comment_box .comment_content .comment {
	margin-left: 110px;
	font-size: 14px;
}
.comment_box .comment_content .comment .comment_date {
	float: left;
	width: 300px;
	font-size: 12px;
	color: #757575;
}
.comment_box .comment_content .comment .operation {
	text-align: right;
	padding-right: 5px;
	font-size: 12px;
}
.comment_box .comment_content .comment .operation  span.a{color:#E71F21}
.comment_box .comment_content .comment .operation a:link,.comment_box .comment_content .comment .operation a:visited {
	color: #000099;
}
.comment_box .comment_content .comment .operation a:hover{
	color: #E71F21;
}.comment_box .comment_more {
	font-size: 14px;
	text-align: center;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCCCCC;
	padding: 8px;
}
.comment_box .comment_more .red_num {
	color: #E71F21;
	padding: 2px;
}
.comment_1 {
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	margin-top:10px;
	background-color:#F3F3F3;
	
}
.comment_1 .comment_title1 {
	font-size: 14px;
	font-weight: bold;
	background-image: url(../images/comment.gif);
	background-repeat: no-repeat;
	background-position: 4px -25px;
	padding-left: 30px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	margin-bottom: 6px;
}
.comment_box .comment_content .select_comment {
	background-color: #F2F9FF;
}
.comment_box .comment_content .comment_2 {
	background-color: #f9f9f9;
}
.comment_box .more_comment {
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
	background-color: #808080;
}
.comment_box .more_comment .comment_total {
	float: left;
	width: 400px;
	text-align: left;
	color: #FFFFFF;
}
.comment_box .more_comment a {
	color: #FFFFFF;
	text-align: right;
}
.vote{margin-top:15px;margin-left:10px}
.vote_title {
	font-size: 12px;
	font-weight: bold;
	background-repeat: no-repeat;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 2px;
	border-bottom:1px solid #ccc;
}
.vote_1{margin-top:5px;padding:0px 5px;}
.vote h1{font-size:14px;line-height:30px;padding:5px 0px 0px}
.vote p{padding:0px;margin:0px; list-style:none; text-indent:0px; color:#9b9b9b;line0height:26px;}
.vote span.c1{color:#515151}
.vote span.c2{color:#e71f21}
.vote .vote_content{ text-indent:24px;line-height:26px;padding:10px 0px}
.detail .vote_p,.vote .vote_p{padding:5px 0px}
.detail .vote_p ul{width:955px;}
.vote .vote_p ul{width:955px;}
.detail .vote_p  li,.vote .vote_p  li{float:left;margin-right:15px;}
.detail .vote_p  li img,.vote .vote_p  li img{ vertical-align:middle}
.detail .vote_p .btn,.vote .vote_p .btn{ text-align:left;padding:10px 0px}
.vote .vote_list{margin-top:10px;}
.vote .vote_list ul li a:hover{}
.vote .vote_list ul li.select { background-color:#efefef; text-decoration:none}
.bt_position {
	text-align: right;
	padding:10px 18px;
}
.input1 {

	padding: 2px;
	height: 18px;
	width: 300px;
	border: #a7a6aa 1px solid;
	line-height:14px;
	background: #fff url(../images/input-bg.png) no-repeat 0px 0px;
}
.textarea1 {

	padding: 3px;
	height: 80px;
	width: 650px;
	border: #a7a6aa 1px solid;
	line-height:14px;
	background: #fff url(../images/input-bg.png) no-repeat 0px 0px;
}
a.bt_1{ margin:0 3px; cursor:hand;}
a.bt_1,a.bt_1 span,a.bt_1:hover,a.bt_1:hover span{ background:url(../images/bt_1.gif) no-repeat top left; padding-left:15px; height:22px; display:inline-block; text-indent:0; line-height:22px; color:#FFF;}
a.bt_1 span{background-position:top right; padding:0; padding-right:12px;}
a.bt_1:hover{background-position:bottom left; text-decoration:none; color:#000000;}
a.bt_1:hover span{background-position:bottom right; padding:0; padding-right:12px;}
