@charset "utf-8";
.top,.content_box,.contain_box,.notice_msg,#menubar #menus{width:985px;margin:0 auto;}
.main_contain {
	width: 985px;
	margin: 10px auto;
	clear: both;
}
.entry_top{width:985px; margin:0 auto; height:50px;}
.contains{width:985px;margin:0 auto;}