/* 
 * My97 DatePicker 4.8
 */

.WdateDiv{
	width:200px;border:1px solid #ccc; background-color:#fff;padding:1px;
}

.WdateDiv2{
	width:400px;
}
.WdateDiv *{font-size:9pt;font-family: "Microsoft YaHei";line-height:18px;color:#444;}
.WdateDiv .NavImg a{
	display: block;
	cursor: pointer;
	height: 17px;
	width: 16px;
	background-color: #82878A;
}

.WdateDiv .NavImgll a{
	float:left;margin-right:4px; 
	background:url(img.gif) no-repeat scroll 0 0;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat scroll -16px 0;
}
.WdateDiv .NavImgr a{
	float:right; 
	background:url(img.gif) no-repeat scroll -32px 0;
}
.WdateDiv .NavImgrr a{
	float:right;margin-left:4px; 
	background: url(img.gif) no-repeat scroll -48px 0;
}

.WdateDiv #dpTitle{
	height:20px; background-color:#82878A;
	padding:2px;
}

.WdateDiv .yminput{margin:0;padding:0; background-color:#82878A;color:#fff;
	text-align:center;border:none;
	height:19px;
	width:51px;margin-left:3px;
	cursor:pointer;		
}

.WdateDiv .yminputfocus{margin-left:3px;
	text-align:left;text-align:center;
	font-weight:bold;
	height:19px;
	color:blue;
	width:51px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;	
	border:#ccc 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
}

.WdateDiv .menuOn{
	cursor:pointer;
	color:#036;
	background-color:#eee;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
	
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
 }

.WdateDiv .MTitle{
	background-color:#f6f6f6;
	
}
.WdateDiv .MTitle td{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px 0;
	color: #111;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#ccc 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background:url(hover_td.png) no-repeat center  center;
}

.WdateDiv .Wwday{
	cursor: pointer;
	color: #98344A;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#333;
	background:url(hover_td.png) no-repeat center  center;
}
.WdateDiv .Wtoday{
	cursor: pointer;
	color: #333;
	background-color: #DCE8FC;
}
.WdateDiv .Wselday{
	background: url(select_td.png) no-repeat center  center;
}
.WdateDiv .WspecialDay{
	background-color:#ccc;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#aaa;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background:url(hover_td.png) no-repeat center  center;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin:3px;
	background:url(img.gif) no-repeat 0px -18px;
	width:26px;
	height:22px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;padding-right:3px; background-color:#fff;
}
.WdateDiv .dpButton{ 
	height:20px;line-height:14px;
	width:40px;
	border:1px solid #ccc;
	margin:4px 0;
	background-color:#f6f6f6;
}
#dPClearInput,#dPTodayInput{border-right:none;}